extends layout

block content

  .container
    h1= message
    h2#id= error.status
    a(href="http://localhost:3000/") Về trang chủ

    <img src="./images/404.svg" alt="Không tìm thấy trang" id="waybackhome" />


    p Chi tiết lỗi (debug only)
    pre #{error.stack}

    
