extends layout 

block content
  link(rel="stylesheet", href="/stylesheets/index.css")
  script(src="/javascripts/jsonParser.js")
  div(class='container-fluid')
    div(class='row')
      div(class='col-md-3 Indexheader')

        div(class="title text-center")
          h2 Aki nhạc lý
          p Nhạc lý căn bản
          p(id='lessonID')= lessonID

        div
          h4 Danh sách bài học
          div(class="lessonList")

            a(href="/lesson/0" class="lessonNav") Giới thiệu
            h6 Căn bản
            a(href="/lesson/1" class="lessonNav") Dòng kẻ nhạc, khóa, đường kẻ phụ
            a(href="/lesson/2" class="lessonNav") Quãng của nốt
            a(href="/lesson/3" class="lessonNav") Đo lường và kí hiệu thời gian
            a(href="#" class="lessonNav") Quãng nghỉ
            a(href="#" class="lessonNav") Chấm và luyến
            a(href="#" class="lessonNav") Các bước và quãng

      div(class='col-md-9 lessonContent')
        div(id="topic-title")
          h4(id="lesson-name") &nbsp; 
        div(id='process-line')
        div(class='lesson')
          h2(id='lesson-name-header')
          div(id='lessonContent')
          



  script(src="/javascripts/index.js")