extends layout 

block content
  link(rel="stylesheet", href="/stylesheets/index.css")
  script(src="/javascripts/jsonParser.js")
  
  .wrapper
    
    // Sidebar
    nav#sidebar
      .sidebar-header.text-center
        img(src="https://i.imgur.com/AB3dh4G.png", alt="ICO")
        br
        h3 Aki Nhạc lý
        p Nhạc lý cơ bản
        p(id='lessonID')= lessonID
      ul.list-unstyled.components
        li.active
          a.dropdown-toggle(href='#homeSubmenu' data-toggle='collapse' aria-expanded='false') Danh sách bài học
          ul#homeSubmenu.collapse.list-unstyled
            li
              a(href='/lesson/0') Giới thiệu
            li
              a(href='/lesson/1') Bài 1: Dòng kẻ nhạc, khóa, đường kẻ phụ
            li
              a(href='/lesson/2') Bài 2: Giá trị trường độ của các nốt 
            li
              a(href='/lesson/3') Bài 3
            li
              a(href='/lesson/4') Bài 4
            li
              a(href='/lesson/5') Bài 5

        li
          a.text-muted(href='/lesson/aboutmelol') About
    // Holder
    div(class="lessonContent" id="content")
      a#toTopBtn.cd-top.text-replace.js-cd-top.cd-top--is-visible.cd-top--fade-out.pointer
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        .container-fluid
          button#sidebarCollapse.navbar-btn(type='button')
            span
            span
            span
          a(id="lesson-name") Tool học nhạc nho nhỏ của Akkii
          button.btn.btn-dark.d-inline-block.d-lg-none.ml-auto(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            i.fas.fa-align-justify

          #navbarSupportedContent.collapse.navbar-collapse

            //- ul.nav.navbar-nav.ml-auto
            //-   li.nav-item.active
            //-     a.nav-link(href='#' id="back-button") Bài trước

            //-   li.nav-item.active
            //-     a.nav-link(href='#' id="next-button") Bài tiếp

            ul.pagination.nav.navbar-nav.ml-auto
              li.page-item
                a.page-link(href='#' aria-label='Next' id="back-button")
                  span(aria-hidden='true') «
                  span.sr-only Trước

              li.page-item
                a.page-link(href='#' aria-label='Next' id="next-button")
                  span(aria-hidden='true') »
                  span.sr-only Sau

      .lesson
        h2(id='lesson-name-header')
        #lessonContent






  script(src="/javascripts/index.js")