doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    script(src='https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js')
  body
    //- div(class='text-center header')
    //-   h4 Aki Nhạc Lý Bố Đời
    //-   div(class='d-flex justify-content-between' style='width:100%')
    //-     button Bài trước
    //-     button Bài sau

    block content
      


