extends layout
block content

  link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')
  link(rel="stylesheet", href="/stylesheets/player.css")



  .wrapper
    
    // Sidebar
    nav#sidebar
      .sidebar-header.text-center
        img(src="https://i.imgur.com/AB3dh4G.png", alt="ICO")
        br
        h3 Ritsu
        p Demo nhạc lý cơ bản

      ul.list-unstyled.components
        li.active
          a.dropdown-toggle(href='#homeSubmenu' data-toggle='collapse' aria-expanded='false') Danh sách bài học
          ul#homeSubmenu.collapse.list-unstyled
            li
              a(href='/lesson/0') Giới thiệu
            li
              a(href='/lesson/1') Bài 1: Dòng kẻ nhạc, khóa, đường kẻ phụ
            li
              a(href='/lesson/2') Bài 2: Giá trị trường độ của các nốt 
            li
              a(href='/lesson/3') Bài 3: Ô nhịp và số chỉ nhịp
            li
              a(href='/lesson/4') Thêm...

        li
          a.text-muted(href='/funny') Ritsu Zone
        li
          a.text-muted(href='/note') Note của bạn
        li
          a.text-muted(href='/lesson/aboutmelol') About
    // Holder
    div(class="lessonContent" id="content")

      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a#toTopBtn.cd-top.text-replace.js-cd-top.cd-top--is-visible.cd-top--fade-out.pointer
        .container-fluid
          button#sidebarCollapse.navbar-btn(type='button')
            span
            span
            span
            

          h5.badge.badge-primary  Ｒｉｔｓｕ!!

          button.btn.btn-dark.d-inline-block.d-lg-none.ml-auto(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            i.fas.fa-align-justify

          

          #navbarSupportedContent.collapse.navbar-collapse
            a(href="/funny") Trở lại tìm kiếm

      .lesson
        //- .col-sm-2
        .videoHolder.col-md-9.text-center
          a#id=title
          #ytplayer
          br
          br
          p#videoTitle
          br
          .akiFeature
            button.btn.btn-success(type='button' id='save-note') Note

            button.btn.btn-info(type='button' onclick='search()') Quay lại tìm kiếm
          br

          p#status

          .alert.alert-success(role='alert')
            strong Lưu ý! Phần comment được dùng cho mục đích giao lưu, học hỏi!
              |  Mọi hình thức lăng mạ, sử dụng từ nhạy cảm đều bị cấm!

          #fb-root
          script(async='' defer='' crossorigin='anonymous' src='https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v9.0&appId=365495230891132&autoLogAppEvents=1' nonce='XklYdq55')
          .fb-comments(data-href='' data-width='' data-numposts='4' data-order-by="social")
        .col-sm-3
          br
          p Tìm kiếm hợp âm (Nguồn: HAC)
          .form-inline.ml-auto
            .md-form.my-0

              input.form-control(type='text' placeholder='Nhập tên bài' aria-label='Tìm kiếm hợp âm' max-length='30' id='seach-box' data-toggle="tooltip" data-placement="bottom" title="Nhập tên bài")

            button.btn.btn-outline-white.btn-md.my-0.ml-sm-2(onclick='searchChord()') 
              i.fas.fa-search
          #hopam
            h6#songName
            #chord
  script(src="/javascripts/player.js")
    